@{
    ViewData["Title"] = "Bảng điều khiển";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Chào mừng đến với hệ thống AI-JMS</h1>
</div>

<div class="row">
    <p>   Đây là nội dung trang Dashboard được hiển thị thông qua lệnh RenderBody().</p>
</div>